<div class="form-inline">
	<button class="btn btn-primary btn-sm" (click)="createNewAccount()">Create New</button>
	<input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchString" (ngModelChange)="searchAccount()">
</div>

<div class="w-45 inline">
	<table class="table table-striped table-bordered table-sm">
		<thead class="thead-dark">
			<tr>
				<th class="header">Account ID</th>
				<th class="header">Account Holder</th>
				<th class="header">Account Balance</th>
				<th class="header">Tools</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let account of accounts; let i=index">
				<td>{{account.id}}</td>
				<td>{{account.first_name}} {{account.last_name}}</td>
				<td>{{account.balance | currency:'USD'}}</td>
				<td><button (click)="deleteAccount(account.id, i)">Delete</button><button (click)="selectAccount(account)">Update</button>
			</tr>
		</tbody>
	</table>
</div>

<div class="w-45 inline" *ngIf="selectedAccount">
	<app-account-details [account]="selectedAccount" (newAccount)="pushAccount($event)"></app-account-details>
</div>
